page-home {
    .scroll-content {
        overflow-y: hidden;
    }
    ion-grid {
        padding: 0 !important;
    }
    .search-column {
        height: 100vh;

        background-color: #f3f3f3;
        form {
            padding: 16px;
        }
        ion-item {
            padding: 0;

            background-color: transparent;
        }
    }
    .results-column {
        overflow-y: auto;

        height: calc(100vh - 56px);
        p{
            text-overflow:unset;
            white-space: normal;
        }
    }
}
